# security
BCRYPT_ROUNDS = 12
ENCRYPTION_KEY_REFRESH=CRYPTOGRAPHY.FERNET
ENCRYPTION_KEY_STRAVA=CRYPTOGRAPHY.FERNET
#jwt
JWT_SECRET=SECRET
JWT_ALGORITHM=JWTALGORITHM

# STRAVA
STRAVA_CLIENT_ID=1111
STRAVA_CLIENT_SECRET=aaa
STRAVA_REDIRECT_URI=http://
STRAVA_SCOPE = SCOPE
STRAVA_TOKEN_URL=https://
STRAVA_API_URL=https://
STRAVA_AUTH_ENDPOINT=https://
STRAVA_DEAUTH_ENDPOINT=https://

# GOOGLE
GOOGLE_CLIENT_ID=GOOGLECLIENTID
GOOGLE_CLIENT_SECRET=GOOGLESECRET
GOOGLE_REDIRECT_URI=http://
GOOGLE_SCOPE=SCOPE
GOOGLE_AUTH_ENDPOINT=https://

# OpenAI
OPENAI_SECRET=OPENAI_SECRET_KEY


# DB Setting
DATABASE_URL=sqlite+aiosqlite:///./db.sqlite3
DATABASE_ECHO=True

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# CORS Setting
CORS_ORIGINS=http://
CORS_CREDENTIALS=True
CORS_METHODS=*
CORS_HEADERS=*

# Web Setting
WEB_HOST=0.0.0.0
WEB_PORT=8000